!!! 5
html(ng-app="myApp")
  head
    meta(http-equiv='Content-Type', content='text/html;charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title 
    script(type='text/javascript', src='./script/fw.js')
      
    link(rel='stylesheet', type='text/css', href='./style/page.css')
    script(type='text/javascript', src='./script/page.js')
    
  body#viewport(class="{{display}}",ng-controller="PlayerCtrl")
    #navi.navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        a.brand Truth or Dare
        .navi.navi-player(ng-click="viewPlayer()") 玩家
    div
      div#player
        form
          .input-append
            input.name(type="text",ng-model="playerName",placeholder="player name")
            input.btn.btn-primary(type="button",ng-click="addBoy()",value="Boy")
            input.btn.btn-primary(type="button",ng-click="addGirl()",value="Girl")
        table.table.table-condensed
          thead
            tr
              th.del: a(ng-click="delBoy()") [ 刪除選取 ]
              th.name {{boys.length}} 個男人
          tbody
            tr(ng-repeat="boy in boys")
              td.del: input(type="checkbox",ng-model="boy.check")
              td.name {{boy.name}}
        table.table.table-condensed
          thead
            tr
              th.del: a(ng-click="delGirl()") [ 刪除選取 ]
              th.name {{girls.length}} 個女人
          tbody
            tr(ng-repeat="girl in girls")
              td.del: input(type="checkbox",ng-model="girl.check")
              td.name {{girl.name}}
      div#view
        div.view.view-boy(ng-click="back()")
          .target &#62; BOY
          .assignment {{assignment}}
        div.view.view-girl(ng-click="back()")
          .target &#62; GIRL
          .assignment {{assignment}}
      div#button
        .btn.btn-boy(ng-click="getQ4Boy()"): span BOY
        .btn.btn-girl(ng-click="getQ4Girl()"): span GIRL