@import "compass"
@import "../sass_lib/animation.sass"

+keyframes(assignment-show)
  0%
    +opacity(0)
    +scale(1)
  40%
    +opacity(0)
    +scale(20)
  100%
    +opacity(1)
    +scale(1)

+keyframes(assignment-hide)
  0%
    top: 10%
    +scale(1)
    +opacity(1)
  60%
    top: 10%
    +scale(20)
    +opacity(0)
  100%
    top: -1000%
    +scale(1)
    +opacity(0)

body
  background: inline-image('bg.png')

.boy
  color: #4fa950
  padding: 4px 0px
.girl
  color: #ce483d
  padding: 4px 0px

#navi
  .brand
    text-align: center
    margin: 0 auto
    float: none
  .navi-player
    position: absolute
    right: 3px
    top: 3px
    padding: 3px
    background: #FFF
    border: 3px #888 solid
    width: 36px
    height: 36px
    line-height: 36px
    text-align: center
    cursor: pointer
    +border-radius(36px)

#player
  position: fixed
  right: -300px
  top: 0px
  width: 300px
  height: 100%
  z-index: 99
  background: #FFF
  overflow: scroll
  .display-player &
    right: 0px
  form
    margin-top: 52px
    .name
      width: 190px
  .del
    width: 98px
    text-align: right
  .name
    text-align: left

#view
  .view
    &.view-boy
      .target
        color: #4fa950
        border-bottom: 3px #4fa950 solid
      .display-boy &
        .mask-1,
        .mask-2
          +single-transition(top, 0.3s, ease-in-out, 0s)
        .mask-1
          top: 0%
        .mask-2
          top: 50%
        .target
          left: 5%
          +opacity(1)
          +transition(opacity 0.2s ease-in-out 0.2s, left 0.3s ease-in-out 0.2s)
        .assignment
          top: 10%
          +scale(1)
          +opacity(1)
          +animation(assignment-show 0.5s ease-in-out 0s 1)
    &.view-girl
      .target
        color: #ce483d
        border-bottom: 3px #ce483d solid
      .display-girl &
        .mask-1,
        .mask-2
          +single-transition(top, 0.3s, ease-in-out, 0s)
        .mask-1
          top: 0%
        .mask-2
          top: 50%
        .target
          left: 5%
          +opacity(1)
          +transition(opacity 0.2s ease-in-out 0.2s, left 0.3s ease-in-out 0.2s)
        .assignment
          top: 10%
          +scale(1)
          +opacity(1)
          +animation(assignment-show 0.5s ease-in-out 0s 1)
  .mask-1
    top: -50%
  .mask-2
    top: 100%
  .mask-1,
  .mask-2
    z-index: 990
    position: fixed
    width: 100%
    height: 50%
    left: 0px
    background: rgba(0,0,0,0.94)
    +single-transition(top, 0.3s, ease-in-out, 0.2s)
  .target
    z-index: 991
    position: absolute
    top: 10%
    left: -100%
    width: 90%
    text-align: right
    height: 40px
    font-size: 36px
    +transition(opacity 0.2s ease-in-out 0s, left 0.3s ease-in-out 0s)
  .assignment
    z-index: 992
    position: absolute
    top: -1000%
    left: 5%
    width: 90%
    margin-top: 60px
    text-align: center
    font-size: 106px
    line-height: 118px
    color: #FFF
    +opacity(0)
    +animation(assignment-hide 0.5s ease-in-out 0s 1)

@media all and (max-width: 640px)
  #view
    .target
      font-size: 24px
      height: 28px
    .assignment
      font-size: 54px
      line-height: 66px

#button
  .btn
    position: fixed
    top: 30%
    width: 50%
    height: 65%
    display: table-cell
    font-size: 100px
    text-align: center
    vertical-align: middle
    line-height: 100%
    padding: 0px
    &.btn-boy
      left: 0%
      background: #4fa950
    &.btn-girl
      left: 50%
      background: #ce483d

@media all and (orientation:portrait)
  #viewport #button
    .btn
      left: 0%
      width: 100%
      height: 25%
      padding: 0px
      &.btn-boy
        top: 30%
      &.btn-girl
        top: 60%